@use "@/styles/variables" as *;
@use "@/styles/font_mixins" as *;
@use "@/styles/animations_mixins" as *;

.pageProjects {
  padding-top: 90px;

  section {
    .content {
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
    }
  }

  .hero {
    position: relative;
    padding: 3rem 1.5rem;
    overflow: hidden;

    @media (min-width: $bp-sm) {
      padding: $sp-section 1.5rem;
    }

    @media (min-width: $bp-md) {
      padding: 6rem 3rem 4rem;
    }

    .line {
      position: relative;
      display: block;
      overflow: hidden;
    }

    h1 {
      font-size: clamp(4rem, 12vw, 10rem);
      font-weight: $fw-black;
      letter-spacing: $ls-tighter;
      line-height: $lh-tight;
      margin-bottom: $sp-md;

      @include slideUp();

      .dot {
        color: $color-tonic;
      }
    }

    p {
      font-size: $fs-medium;
      color: $color-gray;
      @include fadeIn();
      animation-delay: 0.7s;
    }
  }

  .projects {
    padding: 0 1.5rem;

    @media (min-width: $bp-md) {
      padding: 0 3rem;
    }

    .grid {
      display: grid;
      gap: $sp-lg;
      max-width: 800px;
      padding-bottom: $sp-xxl;

      @media (min-width: $bp-md) {
        gap: $sp-xxl;
      }

      @media (min-width: $bp-lg) {
        max-width: initial;
        grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
      }
    }
  }
}
