@use "@/styles/variables" as *;

.footer {
  border-top: solid 1px $color-light-gray;
  padding: $sp-xl $sp-lg;

  @media screen and (min-width: $bp-sm) {
    padding: $sp-xl $sp-xl;
  }

  @media screen and (min-width: $bp-md) {
    padding: $sp-xl $sp-xxl;
  }

  > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    @media screen and (min-width: $bp-xs) {
      flex-direction: row;
    }

    > p {
      font-size: $fs-tag;
      color: $color-gray;
      margin: 0;
    }

    .contactLinks {
      display: flex;
      flex-direction: column;
      gap: $sp-md;
      margin-bottom: $sp-lg;

      @media screen and (min-width: $bp-xs) {
        margin-bottom: 0;
      }

      label {
        text-transform: uppercase;
        font-size: $fs-tag;
        color: $color-gray;
        letter-spacing: $ls-widest;
      }

      a {
        display: flex;
        align-items: center;
        font-weight: $fw-regular;
        gap: $sp-xs;
      }
    }
  }
}
